.navbar-logo {
    height: 2.5rem;
    width: auto;
}
.navbg{
    background: linear-gradient(332deg, rgb(104, 65, 158) 7%, rgb(172, 146, 221) 88%);
}
.navbar-button {
    background: rgb(105,75,148);
    background: linear-gradient(332deg, rgba(105,75,148,1) 7%, rgba(40,158,206,1) 88%);
}
.TrainerCard-image {
     width: 4.5rem;
    height: 4.5rem;
    object-fit: cover;
    border-radius: 50%;
}
.theme-color {
    color: #571e91;
}
.theme-bgcolor {
    background-color: #6c4791 !important ;
}
.TrainerCard-details {
    background-color: #ed2cff41;
}
.tForm{
    text-align: center;
}

.formBg{
    background-color: #ed2cff41 !important ;    
    border-radius: 20px ;
}
hr.solid {
    border-top: 1px solid rgb(49, 49, 49);
  }
.subButton{
    margin-top:1%;
    justify-content: center;
    display: flex;
    align-items: center;
}
.spacing2{
    margin-top: 10px;
}
.spacing1{
    margin-left: 10px;
}
.Tslider{
    align-items: center;
}
.bookNowButton{
    background: linear-gradient(90deg, rgb(74, 3, 107) 7%, rgb(105, 8, 196) 88%);


}